.account-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	justify-content: flex-start;
	text-transform: uppercase;
	color: $white;
	&:hover {
		color: $light;
		text-decoration: none;
	}

	svg {
		margin-right: 50px;
		font-size: 30px;
	}
	img {
		margin-right: 50px;
	}
}

.sticky-nav {
	position: sticky;
	top: 0;
}

.nav-drop {
	margin-top: -15px;
	color: $white;
}

.nav-drop-notif {
	margin-top: -9px;
	color: $white;
}

.navbar-nav {
	.dropdown-menu {
		position: static;
		float: left;
		margin-left: -7rem;
		margin-top: .5rem;
	}

	a {
		margin: 10px 0;
		padding: 0 25px;
	}
	a:hover {
		text-decoration: none;
	}
}

.navbar-logo {
	height: 25px;
	width: 25px;
}
.dropdown-menu.pull-left {
	left: 0;
}
.menu-photo {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: $light;
}

@media (min-width: 1024px) {
	.navbar-nav {
		a {
			margin: 0 0;
			padding: 0 0;
		}
	}
	.account-icon {
		flex-direction: column;
		width: 130px;
		justify-content: space-evenly;
		.icon {
			margin: 10px;
		}
		svg {
			font-size: 2rem;
		}
	}
	.space {
		margin-top: 1.4px;
	}
}
