.account-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	justify-content: space-between;
	text-transform: uppercase;
	color: $white;
	&:hover {
		color: $light;
	}
}

.nav-drop {
	margin-top: -15px;
	color: $white;
}

.navbar-nav {
	.dropdown-menu {
    position: static;
    float: left;
    margin-left: -7rem;
    margin-top: .5rem;
}
}

.navbar-logo {
	height: 25px;
	width: 25px;
}
.dropdown-menu.pull-left {
	left: 0;
}
.menu-photo {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: $light;
}

@media (min-width: 1024px) {
	.account-icon {
		flex-direction: column;
		width: 130px;
		justify-content: space-evenly;
		.icon {
			margin: 10px;
		}
	}
}
