@import '../variables.scss';

.landing-page{
    margin: 0 1rem;
    .top-rated{
        min-height: 100vh;
        margin: 0;
        padding-right:0;  
    }
    .high-rated{
        min-height: 100vh;
    
        .top-accommodations, .all-accommodations{
            display: flex;
	        overflow: hidden;
            flex-wrap: wrap;
            justify-content: space-between;
            * {
                position: relative;
                display: block;
                height: 15rem;
                margin: 0 0 1rem 0;
                flex-grow: 1;
            }
            img {
                height: 15rem;
                object-fit: cover;
                max-width: 100%;
                min-width: 100%;
                vertical-align: bottom;
            }
            
        }
        .one-accommodation{
            p{
                background-color: $primary;
                color: $white;
                padding: 1rem;
                position: absolute;
                height: 6rem;
                bottom: -1rem;
                opacity: 80%;
                width: fit-content;
            }

        .top-accommodations:after, .all-accommodations:after {
            flex-grow: 999999999;
            min-width: 15rem;
            height: 0;
        }
    }

    .home-heading{
        font-size: 3.5vw;
        font-weight: bold;
    }

    }
    
    .destinations{
        min-height: 100vh;
    
        .top-destinations, .all-destinations{
            display: flex;
	        overflow: hidden;
            flex-wrap: wrap;
            justify-content: space-between;
            * {
                position: relative;
                display: block;
                height: 15rem;
                margin: 0.5rem;
                flex-grow: 1;
            }
            img {
                height: 15rem;
                object-fit: cover;
                max-width: 100%;
                min-width: 100%;
                vertical-align: bottom;
            }
            .one-destination{
                p{
                    background-color: $primary;
                    color: $white;
                    padding: 1rem;
                    position: absolute;
                    height: 5rem;
                    bottom: -1rem;
                    opacity: 80%;
                    width: fit-content;
                }
            }
        }
        .top-destinations:after, .all-destinations:after {
            flex-grow: 999999999;
            min-width: 15rem;
            height: 0;
        }
        
        .home-heading{
            font-size: 3.5vw;
            font-weight: bold;
        }
    }
}