.menuBar{
  position: sticky;
  top: 0;
  z-index: 1;
  .account-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    justify-content: space-around;
    text-transform: uppercase;
    color: $white;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
    &:hover {
      color: $light;
    }
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: smaller;
    img {
      height: 35px;
      width: 35px;
      margin: 0 5px;
    }
  }
  
  .navigation-bar {
    display: flex;
    justify-content: space-around;
    width: 30vw;
  }

  #profile-dropdown{
    padding: 0;
  }
  
}
