.notif-unread {
  background-color: #ededed;
}

.dropdown-item {
  font-size: 14px;
  text-transform: capitalize;
}

.notif-number {
  background-color: $googleRedDark;
  color: $white;
  padding: 0.2rem;
  margin-top: 2rem;
  margin-left: -1rem;
  border-radius: 5px;
}
