.user-profile{
  .avatar {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin-left: 5%;
}
  .button-wrapper {
    position: relative;
  text-align: center;
  margin-left: 20%;
  margin-top: -7rem;
  margin-bottom: 8rem;
  span.label {
    z-index: 0;
    display: inline-block;
    width:25px;
    height: 25px;
    border-radius: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    text-transform:uppercase;
    font-size:12px;
    cursor: pointer;
    .fa{
      line-height: 2;
  }
  }
}
#upload {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

}

.prof-container{
 width: 80vw;
 margin:auto;
 input, select{
   width:80%;
 }
}

@media(max-width: 768px){
  .center-image-small-screen{
    display: block;
    margin: 0 auto;
  }
  .style-btn-update{
    margin-right: 50px;
  }
}

.col-form-label{
  text-align: left;
  float: left;
}

.bg-white{
  padding-left: 50px;
}

