@import './node_modules/react-toastify/scss/main.scss';
@import 'variables';
@import './pages/SocialAuthSuccessStyles.scss';
@import './requests/requests.scss';
@import './requests/index.scss';
@import './pages/allAccommodation.scss';
@import './pages/singleAccommodation.scss';
@import './breadcrumbs.scss';
@import './components/menubar.scss';
@import './button.scss';
@import '~bootstrap/scss/bootstrap';
@import './components/buttons.scss';
@import './authentication/index.scss';
@import './pages//viewAllUsers.scss';
@import './pages/viewSpecificUser.scss';
@import './pages/editAccommodation.scss';
@import './components/editor.scss';
@import './profile.scss';
@import './pages/pendingBookings.scss';

* {
  font-family: $master-font;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 235, 238);
}

body {
  background-color: rgb(233, 235, 238);
}

input[disabled] {
  cursor: default;
}

body {
  background-color: rgb(233, 235, 238);
}

.header {
  background-color: $primary;
  color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  .link {
    color: $light;
  }
}
.link {
  text-decoration: none;
}
.header-component {
  color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-img {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
  }
  h2,
  h4 {
    margin-bottom: 1rem;
  }
}

.form-input {
  border: 1px solid $blackish;
  margin-bottom: 1rem;
  height: 2rem;
  font-size: 0.8rem;
}
.button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password {
  > form input {
    width: 80%;
    padding-left: 0.5rem;
  }
  button {
    text-transform: uppercase;
    font-size: 1rem;
    background: #073763;
    border-color: $light;
    color: #e2e2e2;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 1rem 0;
    transition: all 0.5s ease-in-out;
    height: 2rem;
    width: 150px;

    &:hover {
      border-color: #073763;
      background: #e2e2e2;
      color: #073763;
    }

    &:focus {
      outline: none;
    }
  }
  .forgot-password {
    color: $redish;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .switch-auth {
    color: $primary;
    margin: 0;
    padding: 0;
  }
}

// Media Queries
@media only screen and (min-width: 768px) {
  .forgot-password {
    color: $redish;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .switch-auth {
    color: $primary;
    margin: 0;
    padding: 0;
  }

  .form-input {
    border: 1px solid $blackish;
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}

.content {
  padding: 20px;
}
