@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$master-font: 'Montserrat', sans-serif;

$primary: #073763;
$light: #e2e2e2;
$googleBlue: #4285f4;
$googleRed: #db4437;
$googleRedDark: #b83327;
$facebookBlue: #294173;
$facebookBlueDark: #3b5998;
$bg-image: url('../assets/images/background.jpeg');
$redish: red;
$blackish: #2d3436;
$white: #fff;
$white-color: #fff;
$redish: red;
$blackish: #2d3436;
$redish: red;
$blackish: #2d3436;
$white: #fff;
$green:#2a8804;
$ornage:#e99434
