@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$master-font: 'Montserrat', sans-serif;

$primary: #073763;
$light: #e2e2e2;
$bg-image: url('../assets/background.jpeg');
$redish: red;
$blackish: #2d3436;
$white: #fff;
